.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.maze {
  position: relative;
  width: 900px;
  height: 900px;
  background-color: rgb(131 218 56);
  display: grid;
  grid-template-columns: repeat(15, minmax(0, 1fr));
  grid-template-rows: repeat(15, minmax(0, 1fr));
}

.cell {
  width: 100%;
  height: 100%;

  /* border: 1px solid white; */
  position: relative;
  cursor: pointer;
}

.start,
.goal {
  font-size: 22px; /* 文字の大きさを調整 */
  font-weight: bold; /* 太字にする */
  position: absolute; /* 要素を絶対位置に配置する */
  top: 50%; /* 上から50%の位置に配置 */
  left: 50%; /* 左から50%の位置に配置 */
  transform: translate(-50%, -50%); /* 要素の中心が画面の中央にくるように調整 */
  pointer-events: none; /* イベントが要素に影響しないようにする */
}

.pillar {
  width: 100%;
  height: 100%;
  background-color: rgb(1 3 6);
}

.position {
  /* width: 100%;
  height: 100%; */

  /* background-position: center; */
  display: flex;

  /* background-color: rgb(199 25 25); 
  background-position: center; */
}

.arrow {
  width: 0;
  height: 0;
  border-bottom: 24px solid transparent; /* 矢印の高さを半分に調整 */
  border-left: 24px;
  border-top: 24px solid transparent; /* 矢印の高さを半分に調整 */
  border-right: 24px solid red; /* 矢印の左向きの幅はここを調整 */
}

/* ボタン類 */
.top {
  display: flex;
  padding-bottom: 3%;
}

.generationbu,
.humanbu,
.flowbu {
  font-size: 22px; /* 文字の大きさを調整 */
  font-weight: bold; /* 太字にする */
  width: 300px;
  height: 50px;
  background-color: rgb(224 188 236);
  color: rgb(12 11 11);
  border-radius: 0.4rem;
  cursor: pointer;
}
