.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(245 235 185);
  width: 100vw;
}

.ti {
  width: 100vw;
  height: 10vh;
  align-items: center;
  flex-direction: column;
  display: flex;
  font-weight: bold; /* 太字にする */
  font-size: 8vh; /* 文字の大きさを調整 */
  padding-bottom: 11vh;
}

.maze {
  border: solid black;
  position: relative;
  justify-content: center;
  width: 40vw;
  height: 40vw;
  background-color: rgb(176 232 123);
  display: grid;
  grid-template-columns: repeat(31, minmax(0, 1fr));
  grid-template-rows: repeat(31, minmax(0, 1fr));

  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
}

/* ボタン類 */
.top {
  display: flex;

  /* padding-bottom: 5%; */
}

.generationbu,
.humanbu,
.flowbu {
  font-size: 5vh; /* 文字の大きさを調整 */
  font-weight: bold; /* 太字にする */
  width: 30vh;
  height: 8vh;
  background-color: rgb(224 188 236);
  color: rgb(12 11 11);
  border-radius: 1rem;
  cursor: pointer;
}

.space {
  height: 18vh;
}
